<h1>Meu projeto</h1>
<form action="/books/insertbook" method="POST" class="form">
  <div class="form-control">
    <label for="title">Título:</label>
    <input type="text" name="title" id="" placeholder="Digite o título" />
  </div>
  <div class="form-control">
    <label for="pageqtd">Quantidade de páginas:</label>
    <input
      type="number"
      name="pageqtd"
      id=""
      placeholder="Quantas páginas o livro tem?"
    />
  </div>
  <input type="submit" value="Cadastrar" />
</form>